<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <p>Used lang: <strong>{{lang}}</strong></h1>
  <p>Localized string: <strong>{{intlGet "messages.foo"}}</strong></p>
</body>
</html>